@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Georgia";
    src: url("../fonts/georgia.woff2") format("woff2");
    font-weight: 100;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Helvetica";
    src: url("../fonts/helvetica.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Helvetica Bold";
    src: url("../fonts/helvetica2.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }
}

.nav_links {
  min-height: 87vh;
}

iframe {
  pointer-events: none;
}

.selected {
  outline: 2px solid #58c369;
  outline-offset: -2px;
}

/* .card {
  width: 150px;
  height: 100px;
} */

/* #gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

button,
a {
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover,
a:hover {
  background-color: #0056b3;
} */
