---
// Component Imports
import Button from "../components/Button.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/styles.css";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<MainLayout title="Wavemaker Production">
  <section id="hero">
    <div class="grid place-items-center h-screen content-center">
      <div class="flex flex-col place-items-center max-w-[400px]">
        <h1 class="text-2xl font-helvetica2">
          pro <br /> duc <br /> tion<span class="text-accent200">.</span>
        </h1>
        <h2 class="font-helvetica2 text-xs pt-xs sibling1 text-neutral400">
          Banners. Offline. Video.
        </h2>
        <p class="font-georgia text-2xs sibling2 pt-xs text-neutral400">
          Here you’ll find the production teams’ best work and a collection of
          selected cases.
        </p>
        <div class="flex flex-col m-sm gap-xs">
          <Button>Take me to the archive!</Button>
          <Button>Show me the best cases!</Button>
        </div>
      </div>
    </div>
  </section>
  <section class="grid w-full place-items-center" id="archive">
    <h2 class="text-md font-helvetica2">
      archive<span class="text-accent200">.</span>
    </h2>
    <div id="banners" class="w-full">
      <div
        class="banner_filtering flex flex-col items-center justify-center w-full gap-xs"
      >
        <div class="flex items-end gap-xs pt-sm">
          <h2 class="font-helvetica2 text-md">banners</h2>
          <img
            src="../icons/fakta.svg"
            class="max-w-[45px]"
            alt="icon of a checklist"
          />
        </div>
        <div
          class="banners_titles text-xs flex items-center justify-center w-full"
        >
          <h2 class="font-helvetica2 uppercase" id="brandTitle"></h2>
          <div class="px-xs">|</div>
          <h3 class="font-helvetica" id="kategoriSubtitle"></h3>
        </div>

        <div class="p-2 m-5" id="frames_test">
          <!-- Added dropdown menus for category and brand -->
          <div class="mt-5">
            <select id="kategoriSelect" class="mr-5">
              <option value="">All Categories</option>
              <!-- Options will be added dynamically -->
            </select>

            <select id="brandSelect">
              <option value="">All Brands</option>
              <!-- Options will be added dynamically -->
            </select>
          </div>
        </div>
      </div>

      <div class="pt-sm w-full">
        <template class="w-full">
          <div class="py-xs cards-ting w-full">
            <article
              class="template_article w-full h-fit rounded-sm bg-primary100 cursor-cell group"
            >
              <iframe
                class="template_frame w-full pointer-events-none rounded-sm aspect-[339/129]"
                src=""
                frameborder="0"></iframe>
              <div
                class="text-and-btns flex flex-col md:flex-row group-hover:p-xs sm:group-hover:p-sm"
              >
                <div class="card_text flex flex-col w-fit">
                  <h4
                    class="template_navn font-helvetica2 text-2xs sm:text-xs text-neutral400 pb-xs"
                  >
                  </h4>
                  <p
                    class="template_beskrivelse max-w-lg font-georgia text-2xs text-neutral300 hidden sm:block"
                  >
                  </p>
                </div>
                <div
                  class="card-btn-performance sm:justify-end items-end text-neutral400 flex flex-wrap"
                >
                  <div
                    class="card-performance justify-end pb-xs items-end text-positive100 sm:flex-row sm:flex gap-xs hidden w-full"
                  >
                    <div
                      class="ctr outline h-fit outline-positive100 outline-[1px] text-3xs rounded-sm px-xs py-2xs"
                    >
                      <span class="font-helvetica2"> CTR</span> | 0,1%
                    </div>
                    <div
                      class="ctc outline h-fit outline-positive100 text-3xs rounded-sm px-xs py-2xs outline-[1px]"
                    >
                      <span class="font-helvetica2"> CTC</span> | 0,05%
                    </div>
                  </div>
                  <a
                    href=""
                    target="_blank"
                    rel="noopener noreferrer"
                    class="top-mid sm:px-sm sm:py-xs max-w-lg h-fit px-xs justify-center sm:ml-sm text-center py-2xs font-helvetica text-3xs sm:text-2xs bg-tertiary100 rounded-sm shadow-lg flex items-center"
                  >
                    Show top & midscroll</a
                  >
                </div>
              </div>
            </article>
          </div>
        </template>
      </div>

      <section class="flex flex-col w-full" id="gallery"></section>

      <button id="view-selected-cards" type="button">View Selected Cards</button
      >
    </div>
    <script>
      import "../scripts/script2.js";
    </script>
  </section>
</MainLayout>
