---
// Component Imports
import Button from "../components/Button.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/styles.css";
import Button2 from "../components/Button2.astro";
import Button3 from "../components/Button3.astro";
import Button4 from "../components/Button4.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<MainLayout title="Wavemaker Production">
  <section id="hero">
    <div class="grid place-items-center h-screen content-center">
      <div class="flex flex-col place-items-center max-w-[400px]">
        <h1 class="text-2xl font-helvetica2">
          pro <br /> duc <br /> tion<span class="text-accent200">.</span>
        </h1>
        <h2 class="font-helvetica2 text-xs pt-xs sibling1 text-neutral400">
          Banners. Offline. Video.
        </h2>
        <p class="font-georgia text-2xs sibling2 pt-xs text-neutral400">
          Here you’ll find the production teams’ best work and a collection of
          selected cases.
        </p>
        <div class="flex flex-col mt-sm gap-xs">
          <Button>Take me to the archive!</Button>
          <Button>Show me the best cases!</Button>
        </div>
      </div>
    </div>
  </section>
  <section class="grid w-full place-items-center" id="archive">
    <div class="banners_and_border w-full flex">
      <div class="border-b-4 border-dashed w-full"></div>
      <h2 class="text-md font-helvetica2 flex justify-end">
        archive<span class="text-accent200">.</span>
      </h2>
    </div>
    <div
      id="banners"
      class="w-full sm:pt-lg flex flex-col items-center justify-center sm:block"
    >
      <div class="flex items-end justify-cent gap-xs pt-sm pb-sm">
        <h2 class="font-helvetica2 sm:text-lg md:text-xl text-md">banners</h2>
        <img
          src="../icons/fakta.svg"
          class="max-w-[45px] lg:hidden sm:max-w-[70px]"
          alt="icon of a checklist"
        />
      </div>
      <div
        class="filters_and_facts flex md:flex-col md:w-fit md:items-start justify-center lg:items-center lg:w-full lg:flex-row flex-col items-center w-full gap-xs text-neutral400 outline"
      >
        <div class="banners_titles text-2xs sm:text-xs flex mr-sm">
          <h2 class="font-helvetica2 uppercase" id="brandTitle"></h2>
          <div class="px-xs">|</div>
          <h3 class="font-helvetica" id="kategoriSubtitle"></h3>
        </div>

        <div class="p-2 m-5 flex" id="frames_test">
          <!-- Added dropdown menus for category and brand -->
          <div class="flex gap-xs font-helvetica text-2xs sm:text-xs">
            <select
              id="kategoriSelect"
              class="py-2xs md:py-xs md:px-sm px-xs rounded-lg flex bg-neutral200 z-50"
            >
              <option value="">All types</option>
              <!-- Options will be added dynamically -->
            </select>

            <select
              class="py-2xs px-xs rounded-lg md:py-xs md:px-sm bg-neutral200 z-50"
              id="brandSelect"
            >
              <option value="">All brands</option>
              <!-- Options will be added dynamically -->
            </select>
          </div>
        </div>
        <div class="fakta_desk lg:flex ml-auto hidden">
          <img
            src="../icons/fakta2.svg"
            class="max-h-[70px] hidden md:flex"
            alt="icon of a checklist"
          />
        </div>
      </div>

      <div class="pt-sm w-full">
        <template class="w-full">
          <div class="py-xs cards-ting w-full">
            <article
              class="template_article lg:rounded-md w-full h-fit rounded-sm bg-primary100 group shadow-lg"
            >
              <div class="hover-message">Click to select</div>
              <iframe
                class="template_frame shadow-lg lg:rounded-md w-full pointer-events-none rounded-sm aspect-[339/129]"
                src=""
                frameborder="0"></iframe>
              <div class="text-and-btns group-hover:p-xs sm:group-hover:p-sm">
                <div class="card_text flex flex-col w-fit">
                  <div class="flex items-center pb-xs">
                    <h4
                      class="template_navn font-helvetica2 text-2xs sm:text-xs text-neutral400 mr-xs"
                    >
                    </h4>
                    <p class="performance text-neutral300">
                      <span class="text-positive100"> CTR: +0,1%</span> &<span
                        class="text-positive100"
                      >
                        BTR: +0,05%</span
                      >
                    </p>
                  </div>
                  <p
                    class="template_beskrivelse max-w-lg font-georgia text-2xs text-neutral300 hidden sm:block"
                  >
                  </p>
                </div>
                <div class="card-btn flex items-end ml-auto pt-sm">
                  <Button2 href="">Top & midscroll</Button2>
                  <!-- <a
                    class="appearance-none top-mid-link py-xs px-sm bg-tertiary100 text-white font-semibold rounded-lg shadow-md hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-400 focus:ring-opacity-75"
                    href=""
                    target="_blank"
                    rel="noopener noreferrer">Top and mid-scroll</a
                  > -->
                  <!-- <Button>Top and mid-scroll</Button> -->
                </div>
              </div>
            </article>
          </div>
        </template>
      </div>

      <section class="flex flex-col w-full" id="gallery"></section>
      <Button3>View Selected</Button3>
      <Button4>Deselect All</Button4>
      <!-- <button id="deselect-all-cards" type="button">Deselect All</button> -->
    </div>
    <div class="w-full pt-xl" id="offline">
      <div
        class="offline-text-and-filters flex flex-col gap-sm sm:gap-md outline items-center justify-center"
      >
        <h2
          class="offline-title outline sm:text-xl text-md font-helvetica2 sm:w-full mr-[0px] sm:mr-auto"
        >
          offline
        </h2>
        <div
          class="offline-brand-and-type-and-filters sm:flex-row flex-col sm:w-full sm:mr-auto flex gap:xs sm:gap-sm items-center text-xs font-helvetica2 text-neutral400"
        >
          <div class="offline-brand-and-type flex gap-xs">
            <h3 class="uppercase">garnier</h3>
            <div>|</div>
            <h4 class="offline-brand capitalize font-helvetica">OOH</h4>
          </div>
          <div
            class="offline-filters font-helvetica text-2xs sm:text-xs flex gap-sm"
          >
            <select
              class="py-2xs md:py-xs md:px-sm px-xs rounded-md bg-neutral200"
              name="type"
              id=""><option value="">All types</option></select
            >
            <select
              class="py-2xs md:py-xs md:px-sm px-xs rounded-md bg-neutral200"
              name="brand"
              id=""><option value="">All brands</option></select
            >
          </div>
        </div>
      </div>
      <div class="offline-content"></div>
    </div>

    <script>
      import "../scripts/script2.js";
    </script>
  </section>
</MainLayout>
