<button
  id="menu-btn"
  class="menu_icon fixed top-[25px] right-[25px] sm:hidden z-50"
>
  <img src="../icons/burger.svg" alt="burgermenu icon" />
</button>
<header
  class="sm:w-fit sm:shadow-lg hidden sm:h-fit bg-neutral100 items-center justify-center h-[100vh] w-[100vw] sm:-translate-x-[0%] sm:block sm:-translate-y-[0%] sm:top-[0%] sm:left-[0%] sm:outline sm:outline-[5px] top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] sm:outline-accent200 sm:outline-offset-[-5px] sm:px-[15px] sm:pt-sm sm:pb-[15px] sm:m-sm sm:rounded-md fixed"
>
  <nav
    id="nav_links2"
    class="nav_container nav_links font-helvetica text-3xs flex-col justify-between gap-sm text-center z-50 flex"
  >
    <div class="header-logo hidden font-helvetica2 text-sm">
      <div class="text-left">
        pro <br />duc <br />tion<span class="text-accent200">.</span>
      </div>
    </div>
    <div class="other-links flex flex-col gap-xs">
      <a href="/" class="home flex flex-col gap-xs justify-center items-center">
        <img class="hej max-w-[35px]" src="../icons/home.svg" alt="home icon" />
        <p class="">Home</p>
        <img class="max-w-[33px]" src="../icons/line.svg" alt="thin line" />
      </a>
      <a
        href="/#banners"
        class="banners_nav flex flex-col gap-xs justify-center items-center"
      >
        <img
          class="hej max-w-[25px]"
          src="../icons/banners.svg"
          alt="banners icon"
        />
        <p class="">Banners</p>
        <img class="max-w-[33px]" src="../icons/line.svg" alt="thin line" />
      </a>
      <a
        href="/#offline"
        class="banners_nav flex flex-col gap-xs justify-center items-center"
      >
        <img
          class="hej max-w-[25px]"
          src="../icons/print.svg"
          alt="print icon"
        />
        <p class="">Offline</p>
        <img class="max-w-[33px]" src="../icons/line.svg" alt="thin line" />
      </a>
      <a
        href="/#video"
        class="banners_nav flex flex-col gap-xs justify-center items-center"
      >
        <img
          class="hej max-w-[25px]"
          src="../icons/video.svg"
          alt="video icon"
        />
        <p class="">Video</p>
        <img class="max-w-[33px]" src="../icons/line.svg" alt="thin line" />
      </a>
      <a
        href="index.astro#banners"
        class="banners_nav flex flex-col gap-xs justify-center items-center"
      >
        <img
          class="hej max-w-[25px]"
          src="../icons/cases.svg"
          alt="cases icon"
        />
        <p class="">Cases</p>
      </a>
    </div>
    <div class="darkmode-thing">
      <a
        href="index.astro#banners"
        class="banners_nav flex flex-col gap-xs justify-center items-center"
      >
        <img
          class="hej max-w-[25px]"
          src="../icons/darkmode.svg"
          alt="dark mode"
        />
        <p class="">Dark mode</p>
      </a>
    </div>
  </nav>
  <script>
    import "../scripts/menu.js";
  </script>
</header>
